h1 {
    background-color: #76544A;
    color: #F1DBD6;
    font-family:Garamond, Georgia, 'Times New Roman', serif;
}
body {
    background-color: #F1DBD6;
    color: #76544A;
    font-family: "century gothic";
}
a {
    color: #3B6367;
}