body {
    background-image: url("photobg.jpg");
    font-family: "century gothic";
    color: #76544A;
  }
  div {
    background-color: #FFF8F8;
    font-family: "century gothic";
    color: #76544A;
  }
  h1 {
    color: #76544A;
    font-family: "Garamond";
    background-color:  #FFF8F8;
    text-shadow: 3px 4px 1px  #F1DBD6
  }
  h2 {
    color: #FFF8F8;
    background-color: #76544A;
    font-family: "century gothic";
    text-transform:uppercase; 
    letter-spacing:20px;
  }
  div{
    padding: 10px;
    line-height: 30px;
  }
  
  
  