h1{
    border: 2px solid purple;
    6C8FA3;
}
div{
    display: inline-block;
    border: 2px solid #E8A0A0;
    background-color: pink;
    color: purple;
    width: 200px;
    height: 200px;
}
span{
    display: inline-block;
    border: 2px dotted rgb(35, 175, 222);
    background-color: lightskyblue;
    color: navy;
    width: 200px;
    height: 200px;
}
tr.pink{
    background-color: pink;
}
p{
    display: none;
}
table, tr, th, td{
    border: 1px solid;
    border-collapse: collapse;
    padding: 10px;
}

tr:hover{
    background-color: lightgray;
    color: darkmagenta;
}

tr.purple{
    border: 1px dashed #63083e;
    background-color: lavender;
}